[Unit]
Description=Snowflake Broker
#After=tor-snowflake.service
#Requires=tor-snowflake.service

[Service]
Type=simple
User=jake
WorkingDirectory=/home/<user>/snowflake/broker
ExecStart=/home/<user>/snowflake/broker/broker --acme-hostnames example.snowflake -metrics-log /home/<user/>Downloads/fun.txt
# for these type of stuff --aceme-hostnames are required to be setupd duckdns works? subdomains are generally more recommended... i would suggest setting up crontab services to update ip if using dhcp
Restart=on-failure

[Install]
WantedBy=multi-user.target
